@import "../../styles/variables";

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 100%;

  & .nav {
    width: 6%;
    --bs-bg-opacity: 1;
    background-color: rgba(
      var(--bs-light-rgb),
      var(--bs-bg-opacity)
    ) !important;
    transition: all 0.4s ease-out;

    &:hover {
      width: 14%;
    }
  }

  & .content {
    width: 100%;
  }
}
