@import "../../styles/variables";

.content {
  margin-top: $margin-default;
}

.navigation {
  border-radius: 0.5rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
