@import "../../styles/variables";

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-out;
}

.container {
  display: flex;
  height: 100%;
  transition: all 0.4s ease-out;

  & .nav {
    --bs-bg-opacity: 1;
    background-color: rgba(
      var(--bs-light-rgb),
      var(--bs-bg-opacity)
    ) !important;
    transition: all 0.4s ease-out;

    &Default {
      width: 15%;
      margin: 1rem;
      border-radius: 0.5rem;
    }

    &Compact {
      width: 6%;

      &:hover {
        width: 15%;
      }
    }
  }

  & .content {
    width: 100%;
    margin: 1rem;

    &Default {
      margin: 1rem;
    }
  }
}
