.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  margin-top: 1.5rem;
  display: grid;
  height: 100%;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1.5rem;
}

.sectionSmall {
  border: 1px solid black;
}

.sectionLarge {
  border: 1px solid black;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
}

.sectionChart {
  grid-column-start: 1;
  grid-column-end: 5;
  border: 1px solid black;
}
