/**
* Scss Variables
*/

//colors
$color-primary: rgba(0, 115, 177, 1);
$color-secondary: rgba(37, 36, 34, 1);
$color-text: rgba(0, 0, 0, 0.7);
$color-text-light: rgba(0, 0, 0, 0.5);
$color-text-dark: rgba(0, 0, 0, 1);

$colorIconDashboard: "#5E72E4";
$color-icon-client: "#FB6440";
$color-icon-staff: "#0ECDEF";
$color-icon-finacials: "#2DCE89";
$color-icon-support: "#0ECDEF";
$color-icon-settings: "#666666";

$color-border: #cfd2dc;
$color-danger: #d32f2f;
$color-white: #fff;
$color-black: #000;
$color-background-peach: #f4ece6;

// fonts
$font-xl: calc(30px + 4vmin);
$font-large: calc(20px + 4vmin);
$font-medium: calc(18px + 3vmin);
$font-small: calc(15px + 2vmin);
$font-xs: calc(8px + 1vmin);
$font-xxs: calc(5px + 1vmin);

//other variables
$padding-default: 10%;
$padding-default-phone: 5%;

$margin-default: 1rem;
